---
import ProductCard from './ProductCard.astro'
const products = [
	{
		tag: 'ПО',
		icon: '/svg/grape-box-icon.svg',
		title: 'Grape box 1.0',
		subtitle:
			'Выполнения трансграничных переводов денежных средств между платёжными средствами в разных странах мира',
		link: 'products/grape-box'
	},
	{
		tag: 'Сервис',
		icon: '/svg/aml-icon.svg',
		title: 'Разработка ПО под заказ',
		subtitle:
			'Разработаем программное обеспечение с нуля или модернизируем устаревшее. Разберемся в вашей задаче и превратим идеи в готовые продукты',
		link: 'products/software-development'
	},
	{
		tag: 'ПО',
		icon: '/svg/processing-icon.svg',
		title: 'Процессинг',
		subtitle:
			'Технологическое обеспечение процессов оказания платёжных услуг платёжными организациями, банками и процессинговыми центрами ',
		link: 'products/processing'
	}
	// {
	// 	tag: 'ПО',
	// 	icon: '/svg/recognize-icon.svg',
	// 	title: 'Recognize Facade 1.0',
	// 	subtitle: 'Обработка результатов распознавания фотографий документа, удостоверяющего личность, и селфи клиента',
	// 	link: 'recognize-facade'
	// }
]
---

<section id="products" class="bg-[#ECFFEE]">
	<div class="mx-auto max-w-7xl px-4 py-8 lg:px-10 lg:py-16">
		<div class="mb-8 lg:mb-16">
			<div class="w-fit rounded-xl bg-[#D6F2BD3D]">
				<p class="px-[12px] py-[10px] text-[#60996A] lg:text-[20px]">Продукты</p>
			</div>
		</div>

		<div class="lg:flex lg:items-center lg:justify-between">
			<div class="mb-8 max-w-[576px] md:w-7/12 lg:mb-16 lg:w-6/12">
				<h2 class="text-[22px] leading-[30.8px] text-[#282828] lg:text-[36px] lg:leading-[50px]">
					Программное обеспечение и сервисы, которые мы предоставляем
				</h2>
			</div>
		</div>

		<div class="grid gap-[0.75rem] sm:grid-cols-2 lg:gap-y-6">
			{
				products.map((product) => (
					<ProductCard
						title={product.title}
						tag={product.tag}
						subtitle={product.subtitle}
						link={product.link}
						icon={product.icon}
					/>
				))
			}
		</div>
	</div>
</section>
